<!DOCTYPE html>
<html lang="en">
<head>
  <title>Commuter Dash</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
    .arrival_time,.arrival_route {
        white-space: nowrap;
        display: inline-block;
    }
    .user-pic, .dashboard-top {
        white-space: nowrap;
        display: inline-block;
        vertical-align: bottom;
    }
    .user-pic {
        padding: 2px;
    }
    .jumbotron {
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Commuter Dash</h1>
  <p>Make New York yours.</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Stations List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Subway Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('showLogin')}}">Login</a>
      </li>
    </ul>
  </div>
</nav>

<form action="{{url_for('deleteStation',gtfs_id=gtfs_id)}}", method = 'POST'>
    <h3>Are you sure you want to delete {{get_name(gtfs_id)}}?</h3>
    <input type='submit', value = 'Delete'>
</form>



</body>
</html>
