<!DOCTYPE html>
<html lang="en">
	<head
	<meta charset="UTF-8">
	<title>Commuter Dash</title>
	</head>

	<body>
		{% if logged_in %}
		You are logged in!
		{% else %}
		<a href="{{url_for('showLogin')}}">Click here to log in!
		{% endif %}
		<br>
		<a href="{{url_for('selectLine')}}">Click here to add a new line!</a>
		<br><br>

		<div class="station_display">
			{% for key, value in times_dict.iteritems()%}
				{{key}} station
				<br>
				Uptown Trains:
				<br>
				{% for route_time_pair in value[0] %}
					{% set route = route_time_pair[0]%}
					{% set time = route_time_pair[1]%}

					{{route}} arrives in {{time}} minutes
					<br>
				{% endfor %}
				Downtown Trains:
				<br>
				{% for route_time_pair in value[1] %}
					{% set route = route_time_pair[0]%}
					{% set time = route_time_pair[1]%}

					{{route}} arrives in {{time}} minutes
					<br>
				{% endfor %}
			<br>
			{% endfor %}
		</div>
	</body>
</html>
