<!DOCTYPE html>
<html lang="en">
	<head
	<meta charset="UTF-8">
	<title>Choose Line</title>
	</head>

	<body>
		<form action="#" method = "post">
            <div class='direction-select'>
                Choose Direction:
                <input type="radio" name="direction" value='uptown'> Uptown
                <input type="radio" name="direction" value='downtown'> Downtown
            </div>

            <div class='station-select'>
                Choose Station:
    			{% for gtfs_and_name in gtfs_and_names %}

    					<div class="station-choice">
    						<input type="radio" name="gtfs_id" value="{{gtfs_and_name[0]}}">{{gtfs_and_name[1]}}
    					</div>
    			{% endfor %}
            </div>
			<button type="submit" class="button">Choose!</button>

		</form>
	</body>
</html>
